@import "tailwindcss";
@import "tw-animate-css";

@import "./animation.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: oklch(45.7% 0.24 277.023);
  --primary-hover: oklch(39.8% 0.195 277.366);
  --primary-active: oklch(35.9% 0.144 278.697);
  --primary-foreground: oklch(96.8% 0.007 247.896);
  --secondary: oklch(60.6% 0.25 292.717);
  --secondary-hover: oklch(54.1% 0.281 293.009);
  --secondary-active: oklch(49.1% 0.27 292.581);
  --secondary-foreground: oklch(96.8% 0.007 247.896);
  --destructive: oklch(64.5% 0.246 16.439);
  --destructive-hover: oklch(58.6% 0.253 17.585);
  --destructive-active: oklch(51.4% 0.222 16.935);
  --destructive-foreground: oklch(96.8% 0.007 247.896);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-pretendard: var(--font-pretendard);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-active: var(--destructive-active);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", sans-serif;
}
